<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.CallLogMapper">
    <select id="findAll" resultType="com.company.entity.CallLog">
        SELECT * FROM api_call_log
    </select>

    <insert id="insertLog"
            parameterType="com.company.entity.CallLog"
            flushCache="true"
            statementType="PREPARED"
            keyProperty=""
            keyColumn=""
            useGeneratedKeys="true"
            timeout="20">
        insert into api_call_log ( description, caller, call_time, duration, error_message)
        values ( #{description}, #{caller}, #{call_time}, #{duration}, #{error_message})
    </insert>

    <select id="findByDescription" resultType="com.company.entity.CallLog">
        SELECT * FROM api_call_log WHERE description=#{description}
    </select>
</mapper>