<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.UsageStatsMapper">
    <select id="findAll" resultType="com.company.entity.UsageStats">
        SELECT * FROM api_usage_stats
    </select>
    <insert id="insertStats"
            parameterType="com.company.entity.UsageStats">
        INSERT INTO api_usage_stats(description, call_count)
        VALUES (#{description}, 0)
    </insert>
    <update id="updateStats"
            parameterType="com.company.entity.UsageStats">
        update api_usage_stats
        set call_count = call_count + 1
        where id = #{id}
    </update>

    <select id="findByDescription" resultType="com.company.entity.UsageStats">
        SELECT * FROM api_usage_stats WHERE description=#{description}
    </select>
</mapper>